<section class="auth-content">
  <h2>Iniciar sesión</h2>
  <form class="auth-form" id="loginForm">
    <div class="input-group">
      <label for="email">Correo electrónico</label>
      <input type="email" id="email" name="email" placeholder="tucorreo@gmail.com" required>
    </div>
    <div class="input-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" name="password" placeholder="********" required>
    </div>
    <p id="msg" style="color:red; margin-top:10px; display: flex; justify-content: center;"></p>

    <button type="submit" class="btn full">Iniciar sesión</button>
  </form>
  <p class="link-text">¿Olvidaste tu contraseña? <a href="#/reset-password">Restablecer contraseña</a></p>
  <p class="link-text">¿Sin cuenta? <a href="#/register">Regístrate</a></p>
</section>