<section class="profile-container">
  <div class="profile-card">
    <div class="profile-header">
      <img src="/profile.png" alt="Foto de perfil" class="profile-avatar" />
      <h2 class="profile-name" id="name">{name}</h2>
      <p class="profile-email" id="email">{email}</p>
    </div>

    <div class="profile-body">
      <div class="profile-info">
        <h3>Información personal</h3>
        <p><strong>Edad:</strong> <span id="age">{age}</span></p>
        <p><strong>Fecha de creacion:</strong> <span id="create">{create}</span></p>
      </div>

      <div class="profile-actions">
        <button class="btn btn-edit">Editar perfil</button>
        <button class="btn btn-logout">Eliminar perfil</button>
      </div>
    </div>
  </div>
</section>
<!-- Modal Editar Perfil -->
<div id="profileEditModal" class="profile-modal hidden">
  <div class="profile-modal-content">
    <span class="profile-modal-close" id="closeModal">&times;</span>
    <h2>Editar Perfil</h2>

    <form id="editProfileForm">
      <label for="firstName">Nombre:</label>
      <input type="text" id="firstName" name="firstName" required />

      <label for="lastName">Apellido:</label>
      <input type="text" id="lastName" name="lastName" required />

      <label for="email">Email:</label>
      <input type="text" id="emailEdit" name="email" required />

      <label for="age">Edad:</label>
      <input type="number" id="ageInput" name="age" min="0" required />

      <button type="submit" class="btn btn-save">Guardar cambios</button>
    </form>
  </div>
</div>

