<section>
    <h2>Regístrate</h2>

    <form>
        <div class="input-group flex">
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Apellidos">
        </div>
        <div class="input-group">
            <input type="number" placeholder="Edad">
        </div>
        <div class="input-group">
            <input type="email" placeholder="Correo electrónico">
        </div>
        <div class="input-group flex">
            <input type="password" placeholder="Contraseña">
            <input type="password" placeholder="Confirmar contraseña">
        </div>
        <button class="btn">Registrarme</button>
    </form>

    <p class="link-text">¿Ya tienes cuenta? <a href="#">Inicia sesión</a></p>
</section>