<section>
  <h2>Regístrate</h2>

  <form id="registerForm">
    <div class="input-group flex">
      <input type="text" id="nombres" placeholder="Nombre" required minlength="2">
      <input type="text" id="apellidos" placeholder="Apellidos" required minlength="2">
    </div>

    <div class="input-group">
      <input type="number" id="edad" placeholder="Edad" required min="13">
    </div>

    <div class="input-group">
      <input type="email" id="email" placeholder="Correo electrónico" required>
    </div>

    <div class="input-group flex">
      <div>
        <input type="password" id="password" placeholder="Contraseña" required minlength="8">
        <span id="passwordError" class="error-message"></span>
      </div>
      <div>
        <input type="password" id="confirmPassword" placeholder="Confirmar contraseña" required>
        <span id="confirmPasswordError" class="error-message"></span>
      </div>
    </div>
    
    <p id="msg" style="color:red; margin-top:10px; display: flex; justify-content: center;"></p>

    <button type="submit" class="btn">Registrarme</button>
  </form>

  <p class="link-text">¿Ya tienes cuenta? <a href="#">Inicia sesión</a></p>
</section>

<!-- Modal -->
<div id="successModal" class="modal" style="display: none;">
  <div class="modal-content">
    <h3>✅ Usuario creado correctamente</h3>
    <p>Ahora puedes iniciar sesión con tu cuenta.</p>
  </div>
</div>
