<section id="reset-section">
  <!-- Formulario de solicitar correo -->
  <div id="request-form">
    <h2>Restablecer contraseña</h2>
    <form id="resetPasswordForm">
      <div class="div-center">
        <div class="input-group">
          <input type="email" id="email" placeholder="Correo electrónico">
        </div>
        <button class="btn full">Enviar</button>
      </div>
    </form>
  </div>

  <!-- Formulario de nueva contraseña -->
  <div id="new-password-form" style="display: none;">
    <form id="newPasswordForm">
      <div class="div-center">
        <div class="input-group">
          <input type="password" id="password" placeholder="Nueva contraseña">
        </div>
        <div class="input-group">
          <input type="password" id="confirmPassword" placeholder="Confirmar contraseña">
        </div>
        <button class="btn full">Cambiar contraseña</button>
      </div>
    </form>
  </div>
      <p class="link-text"><a href="#/login">Ir a inicio de sesión</a></p>

</section>
