<section>
  <section class="actions">
    <h2>Bienvenido al taskList</h2>
    <button id="btn-new-task">+ New Task</button>
    <input id="search" placeholder="Search tasks..." />
  </section>

  <section id="task-list">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="tasks-tbody">
        Tasks will be dynamically inserted here
      </tbody>
    </table>
  </section>
</section>
