<section>
  <section class="actions">
      <button id="openModalBtn" class="btn-create">+ Nueva tarea</button>
  </section>

  <section id="task-list">
    <div class="board">
      <div class="column">
        <h2 class="To do">Por hacer</h2>
        <div class="tasks" id="todo">
          <div class="task">Tarea 1</div>
          <div class="task">Tarea 2</div>
        </div>
      </div>

      <div class="column">
        <h2 class="in-progress">En progreso</h2>
        <div class="tasks" id="in-progress">
          <div class="task">Tarea A</div>
        </div>
      </div>

      <div class="column">
        <h2 class="completed">Completadas</h2>
        <div class="tasks" id="done">
          <div class="task">Tarea X</div>
        </div>
      </div>
    </div>
  </section>
</section>

<!-- Modal -->
<div id="taskModal" class="modal hidden">
  <div class="modal-content">
    <span id="closeModalBtn" class="close">&times;</span>
    <h2>Crear Nueva Tarea</h2>
    <form id="taskForm">
      <label>Título:</label>
      <input type="text" id="taskTitle" required />

      <label>Descripción:</label>
      <textarea id="taskDetail"></textarea>

      <label>Estado:</label>
      <select id="taskStatus">
        <option value="todo">Por hacer</option>
        <option value="in-progress">En progreso</option>
        <option value="done">Completada</option>
      </select>

      <button type="submit" class="btn-submit">Crear</button>
    </form>
  </div>
</div>
